ul.icons {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding-left:0px;
    font-size: 1.5rem;
    li {
        list-style-type: none;
        span {
            font-size: 1.3rem;
            color: #666666;
        }
    }
}

img.prop_photo{
    max-width: 100%;
    max-height: 100%;
    margin:auto;
    display: block; /* remove extra space below image */
}
.carousel-item{
    height: 169px;
    .active {
        background-color: #e4e4e4;
    }
}
.carousel-item.active {
    background-color: #cccccc;
}
