@media only screen and (max-width: 767px) {
    /* Here, rules for anything less than Ipads width, with the
       advice to design for the smallest common width, 320px.
       This is the majority of smarthphones. */
    ul.towns-list {
        li {
            padding:2px 0;
            h3 {
                margin-bottom: 0;
                a.btn-sm {
                    font-size: 22px;
                }
            }
        }
    }
}
