// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary-color: #123c69;
$primary-color-70: rgba(18, 60, 105, 0.7);
$secondary-color: #ac3b61;
$secondary-color-70: rgba(172, 59, 97, 0.7);
$tertiary-color: #bab2b5;
$tertiary-color-70: rgba(186, 178, 181, 0.7);


$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
