/** WELCOME **/
.welcome {
    .venue-card {
        transition: transform 0.3s;
        //transition-timing-function: ease-in-out;
        img {
            width:100%;
        }
    }
    .venue-card:hover {
        transform: scale(1.03);
    }
}
.grid-list {
    width:200px;
    margin: 0px 10px
}
#venueList label.form-check-label {
    font-size: 20px!important;
}
/** END WELCOME **/
